BioAsq6B==0.1.0
boto==2.48.0
boto3==1.5.6
botocore==1.8.20
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
docutils==0.14
en-core-web-sm==2.0.0
ftfy==4.4.3
gensim==3.2.0
html5lib==1.0.1
BioAsq6B==0.1.0
boto==2.48.0
boto3==1.5.6
botocore==1.8.20
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
docutils==0.14
en-core-web-sm==2.0.0
ftfy==4.4.3
gensim==3.2.0
html5lib==1.0.1
idna==2.6
jmespath==0.9.3
matplotlib==2.1.1
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nltk==3.2.5
numpy==1.13.3
pathlib==1.0.1
pexpect==4.3.1
plac==0.9.6
preshed==1.0.0
prettytable==0.7.2
ptyprocess==0.5.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
regex==2017.4.5
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
smart-open==1.5.5
spacy==2.0.5
termcolor==1.1.0
thinc==6.10.2
toolz==0.8.2
torch==0.3.0.post4
tqdm==4.19.5
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
